@charset "UTF-8";

body {

}

table {
    width: 400px;
    height: 400px;
    border-collapse: collapse;
    text-align: center; /* alinhamento horizontal */
    vertical-align: middle;

}

td {
    border: 1px solid black;
    padding: 10px;
}
